.tti {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.5em;
    height: 100%;
}

.tti.tti-sample {
    -webkit-mask-image: url(/assets/images/icon-logo.svg);
    mask-image: url(/assets/images/icon-logo.svg);
}