html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
	font-size: 18px;
}

body {
	font-size: 18px;
	min-height: 100%;
	background: #fafafa;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
}

input[type='button'], 
input[type='submit'], 
input[type='reset'], 
input[type='text'], 
input[type='password'], 
input[type='email'], 
textarea,
button,
select {
	cursor: pointer;
	font-size: 1rem;
    border: 1px solid #4A4A4A;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    resize: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='text']:focus, 
input[type='password']:focus, 
textarea:focus, 
input[type='button']:focus, 
input[type='submit']:focus, 
input[type='reset']:focus,
button,
button[type='button']:focus,
button[type='submit']:focus,
select:focus {
	outline: 0;
}

input[type='text'],
input[type='password'],
textarea {
	cursor: text;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
table, tbody, tfoot, thead, tr, th, td,
input, select, button, textarea {
	color: #4A4A4A;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	overflow: auto;
}